<div class="row scrollbar-default">
    <link type="text/css" rel="stylesheet" href="css/backlog.css">
<div class="card w-100 m-4 p-3">
    <div class="row">
    <div class="col-12 col-md-6 col-lg-6 col-xs-6 px-2" data-ng-repeat="(groupName, issueList) in backlog.groups">
        <div class="card card-cascade z-depth-1-half m-4">
            <!-- Card-list header -->
            <textarea class="view gradient-card-header aqua-gradient z-depth-1-half text-center white-text rounded mx-3 mb-3 narrower"
                      type="text"
                      maxlength="100"
                      data-ng-model="groupName">
            </textarea>
            <!-- ./Card-list header -->

            <!-- Card -->
            <div class="card-list p-2 scrollbar-morpheus-den thin"
                 dnd-list="issueList"
                 dnd-selected="models.selected = issue"
                 ng-class="{'selected': models.selected === issue}">
                <div class="card mb-1 wow fadeIn hoverable"
                     data-wow-delay="0.035s"
                     data-ng-repeat="issue in issueList"
                     dnd-draggable="issue"
                     dnd-moved="issueList.splice($index, 1)"
                     dnd-effect-allowed="move">
                    <!-- Card content -->
                    <div class="card-body p-2"> <!-- try to put modal toggle here -->
                        <!-- Card summary -->
                        <p class="card-text">{{issue.summary}}</p>
                    </div>
                    <!-- ./Card content -->
                </div>
            </div>
            <div data-ng-if="groupName == 'Backlog'" class="px-1 pb-1">
                <button type="button" class="btn btn-success view w-50 float-right z-depth-1-half rounded"  data-toggle="modal" data-target="#newIssueModal">Add
                    Backlog Item
                </button>
            </div>
            <div data-ng-if="groupName == 'NextSprint'" class="px-1 pb-1">
                <button type="button" class="btn btn-success view w-50 float-right z-depth-1-half rounded" data-toggle="modal" data-target="#newSprintModal"
                        data-ng-click="checkIfAnySprintIsOpen()">Start New Sprint
                </button>
            </div>
        </div>
    </div>
    </div>

</div>

</div>

<!--Modal for adding new backlog item-->
<div id="newIssueModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="AddBacklogItemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Create new task</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <form id="addIssue">
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input class="form-control rounded-0" placeholder="Summary" id="summary"
                               data-ng-model="task.summary"/>
                    </div>
                    <div class="row" style="max-height: min-content">
                        <div class="col">
                            <label for="task-priority">Priority</label>
                            <select class="form-control" id="task-priority" data-ng-model="task.priority">
                                <option value="LOW">LOW</option>
                                <option value="MEDIUM">MEDIUM</option>
                                <option value="HIGH">HIGH</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="task-type">Type</label>
                            <select class="form-control" id="task-type" data-ng-model="task.issueType">
                                <option value="STORY">STORY</option>
                                <option value="BUG">BUG</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="modal-footer" style="margin-top: 1rem">
                    <button class="btn btn-success" data-toggle="collapse" data-ng-click="addTask(task)">Add
                    </button>
                    <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for confirming opening new sprint-->
<div id="newSprintModal" class="modal fade" role="dialog" tabindex="-1"
     aria-labelledby="ConfirmStartNewSprintModalLabel">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Are you sure want to add these items to new sprint? </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-inner" data-ng-repeat="item in backlog.groups.NextSprint">
                    <div class="inner-group inner-addon right-addon items-container-grey">
                        <b>{{item.summary}}</b>
                        <button type="button" class="close" data-ng-click="pushToBacklog(item)">&times;</button>
                        <br>
                        <i>{{item.priority}}</i>
                    </div>
                </div>
                <div class="alert alert-danger d-none" id="alertCloseCurrentSprint">
                    <b>You did not close current sprint. Please close it first</b>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="createNewSprint"
                        data-ng-click="saveNewSprint()">Create
                </button>
                <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<script>
    // Animations initialization
    new WOW().init();
</script>