<style>
    .card-list {
        margin-top: .5rem;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 154.1px);
    }
    .card-list .card:first-child {
        margin-top: 0;
    }
    .card.card-cascade.narrower {
        margin-top: 20px;
    }
    .card.card-cascade .view.gradient-card-header {
        min-height: 1.5rem;
        padding: .75rem;
        margin: -20px .25rem 0 .25rem;
    }
    /* dnd styles */
    /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
    .card-list[dnd-list] .dndDraggingSource {
        opacity: .7;
        display: block;
        min-height: 3rem;
        border-radius: .2rem;
    }

    /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
    body {
        overflow-x: hidden;
    }

    .board {
        height: calc(100vh - 67px);
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card-list[dnd-list] .dndPlaceholder {
        opacity: .7;
        display: block;
        min-height: 2rem;
        border-radius: .25rem;
    }
    .gradient-card-header {
        background: transparent;
        border: none;
        outline: none;
        resize: none;
        height: 3rem;
        cursor: pointer;
    }
    .card-cascade .gradient-card-header,
    .card-cascade .card-list .card {
        cursor: pointer;
    }
    .card-cascade .card-list .card:hover {
        background-color: #f5f5f5 !important;
        transition: 0s;
    }
</style>
<div class="board row scrollbar-default">

    <!-- Card-list container -->
    <div class="col-12 col-md-6 col-lg-3 col-xs-6 px-2 mb-3"
         data-ng-repeat="cardList in cardLists" data-ng-if="cardList.name != 'BACKLOG'">
        <!-- Card-list -->
        <div class="card card-cascade narrower z-depth-1-half">

            <!-- Card-list header -->
            <textarea class="view gradient-card-header aqua-gradient z-depth-1-half text-center white-text rounded mx-0"
                      type="text"
                      maxlength="100"
                      data-ng-model="cardList.name"
                      data-ng-readonly="!projectIsCustomizable"
                      data-ng-change="changeCardListName(cardList.id, cardList.name)">
            </textarea>
            <!-- ./Card-list header -->

            <!-- Card -->
            <div class="card-list p-2 scrollbar-morpheus-den thin"
                dnd-list="cardList.issues"
                dnd-inserted="rememberListName(cardList.id)">
                <div class="card mb-1 hoverable"
                    data-wow-delay="0.035s"
                    data-ng-repeat="card in cardList.issues"
                    dnd-draggable="card"
                    dnd-moved="cardList.issues.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-dragend="changeCardList(card.issueId)">

                    <!-- Card content -->
                    <div class="card-body p-2"
                    	data-toggle="modal"
                    	data-target="#card-edit-modal{{card.issueId}}">
                        <!-- Card summary -->
                        <p class="card-text">[{{card.issueType}}] {{card.summary}}</p>
                        <span class="float-right grey-text"
                        	style="font-size: .9rem;">{{card.assignee}}</span>
                    </div>
                    <!-- ./Card content -->

					<!-- Card edit modal form -->
					<div class="modal fade"
						id="card-edit-modal{{card.issueId}}"
						tabindex="-1"
						role="dialog"
						aria-hidden="true"
						dnd-nodrag>
					    <div class="modal-dialog modal-success" role="document">
					        <div class="modal-content">
					            <div class="modal-header success-color white-text">
					                <p class="h4 text-center mb-4">Edit card</p>
					                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					                    <span class="white-text" aria-hidden="true">×</span>
					                </button>
					            </div>
					            <div class="modal-body mx-3">

					                <div class="md-form">
					                    <textarea type="text"
					                           class="form-control"
					                           maxlength="100" 
					                           data-ng-model="card.summary"
					                           placeholder="Summary"
                                               style="height: 3rem;"></textarea>
					                </div>

					                <div class="md-form">
					                    <textarea type="text"
					                           maxlength="500" 
					                           class="form-control"
					                           data-ng-model="card.description"
					                           placeholder="Description"></textarea>
					                </div>

					                <div class="row">
					                    <div class="col">
					                        <label for="card-edit-priority">Priority</label>
					                        <select class="form-control"
					                            id="card-edit-priority"
					                            data-ng-model="card.priority">
					                            <option value="LOW" selected>LOW</option>
					                            <option value="MEDIUM">MEDIUM</option>
					                            <option value="HIGH">HIGH</option>
					                        </select>
					                    </div>
					                    <div class="col">
					                        <div class="form-group">
					                            <label for="card-type">Type</label>
					                            <select class="form-control"
					                                data-ng-model="card.issueType">
					                                <option value="BUG" selected>BUG</option>
					                                <option value="STORY">STORY</option>
					                            </select>
					                        </div>
					                    </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="card-type">Assignee</label>
                                                <select class="form-control"
                                                    id="card-assignee"
                                                    data-ng-model="card.assignee">
                                                    <option>{{card.assignee}}</option>
                                                    <option data-ng-repeat="assignee in projectUsers"
                                                        value="{{assignee.user}}">{{assignee.user}}</option>
                                                </select>
                                            </div>
                                        </div>

					                </div>
					            </div>
					            <div class="modal-footer d-flex justify-content-center">
					                <button class="btn success-color-dark"
					                        data-dismiss="modal"
					                        data-ng-click="editCard(card)">Save
					                </button>
					            </div>
					        </div>
					    </div>
					</div>
					<!-- ./Card edit modal form -->

                </div>
            </div>
            <!-- ./Card -->

            <a class="m-2 text-right grey-text float-right"
                style="font-size: .85rem; padding-right: .75rem;"
                data-toggle="modal"
                data-target="#add-card-modal"
                data-ng-click="saveCardListId(cardList.id)">Add new card</a>

            <!-- close sprint button-->
            <div data-ng-if="cardList.name == 'DONE'" class="float-right">
                <button type="button"
                    class="btn danger-color-dark z-depth-1-half rounded p-2 mx-2 mb-0" data-toggle="modal" style="margin-top: -3.75rem; font-size: .75rem;" 
                    data-target="#closeSprintModal"
                    data-ng-click="checkForItemsNotDone()"
                    data-ng-if="!projectIsCustomizable">
                    Close sprint
                </button>
            </div>

        </div>
        <!-- ./Card-cascade -->
    </div>

    <div class="col-12 col-md-6 col-lg-3 col-xs-6 px-2" data-ng-if="projectIsCustomizable">

            <!-- <div class="card card-cascade narrower z-depth-1-half">
            
                Create new list input + collapse trigger
                <div class="md-form form-sm px-2">
                	<textarea class="view gradient-card-header aqua-gradient z-depth-1-half white-text rounded mx-0"
                		id="new-list"
                      	type="text"
                      	maxlength="100"
                      	data-toggle="collapse"
                      	data-target="#create-card-list"
                      	aria-expanded="false"
                      	aria-controls="create-card-list"
                      	data-ng-model="cardListName">
            		</textarea>
                    <label class="px-2" for="new-list" class="m-0">Create new list</label>
                </div>
                / Collapse buttons
            
                Collapsible content
                <div class="collapse" id="create-card-list">
                    <button class="btn success-color-dark waves-effect px-3 py-2"
                        type="submit" 
                        data-toggle="collapse"
                        data-target="#create-new-card-list"
                        data-ng-click="createNewCardList(cardListName)">Save</button>
                </div>
                / Collapsible content
            
            </div> -->

			<div class="md-form form-sm">
				<div class="card card-cascade narrower z-depth-1-half">

		            <!-- Create new list input + collapse trigger -->
		            <textarea class="view gradient-card-header aqua-gradient z-depth-1-half text-center white-text rounded mx-0"
		            	id="create-card-list-textarea"
			            type="text"
			            maxlength="100"
			            data-toggle="collapse"
			            data-target="#create-card-list"
			            aria-expanded="false"
			            aria-expanded="false"
			            aria-controls="create-card-list"
			            data-ng-model="cardListName">
		            </textarea>
		            <label class="px-4 mb-4 white-text" for="create-card-list-textarea">Create new list</label>
		            <!-- ./Create new list input + collapse trigger -->
		            <!-- Collapsible content -->
		            <div class="collapse" id="create-card-list">
		                <button class="btn success-color-dark waves-effect px-3 py-2"
		                    type="submit" 
		                    data-toggle="collapse"
		                    data-target="#create-new-card-list"
		                    data-ng-click="createNewCardList(cardListName)">Save</button>
		            </div>
		            <!-- ./Collapsible content -->
        		</div>
			</div>

    </div>
</div>
  
<!--Modal for closing sprint-->
<div id="closeSprintModal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="CloseSprintModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Are you sure you want to close current sprint?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="overflow-y: auto;">
                <div class="text" id="currentlyNotDoneText">Currently not done:</div>
                <div class="container-inner" data-ng-repeat="item in toDoList.issues">
                    <div class="inner-group inner-addon right-addon items-container-grey">
                        <b>{{item.summary}}</b>
                        <i>{{item.priority}}</i>
                    </div>
                </div>
                <div class="container-inner" data-ng-repeat="item in inProgressList.issues">
                    <div class="inner-group inner-addon right-addon items-container-grey">
                        <b>{{item.summary}}</b>
                        <i>{{item.priority}}</i>
                    </div>
                </div>
                <div class="container-inner" data-ng-repeat="item in inQAList.issues">
                    <div class="inner-group inner-addon right-addon items-container-grey">
                        <b>{{item.summary}}</b>
                        <i>{{item.priority}}</i>
                    </div>
                </div>
                <div class="alert alert-danger d-none" id="alertNotDoneItemsInSprint">
                    <b>You have not done all tasks in current sprint.</b>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-toggle="collapse" data-ng-click="closeCurrentSprint()">Close sprint</button>
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>

<!-- Add card modal form -->
<div class="modal fade" id="add-card-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header success-color white-text">
                <p class="h4 text-center mb-4">Add new card</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="white-text" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <input type="text"
                           id="card-summary"
                           class="form-control"
                           required
                           maxlength="100" 
                           data-ng-model="card.summary">
                    <label for="card-summary">Summary</label>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="card-priority">Priority</label>
                        <select class="form-control"
                            id="card-priority"
                            required
                            data-ng-model="card.priority">
                            <option selected>LOW</option>
                            <option>MEDIUM</option>
                            <option>HIGH</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="card-type">Type</label>
                            <select class="form-control"
                                id="card-type"
                                required
                                data-ng-model="card.issueType">
                                <option selected>BUG</option>
                                <option>STORY</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn success-color-dark"
                        data-dismiss="modal"
                        data-ng-click="addIssue(card)">Add card
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ./Add card modal form -->

<script>
    // Animations initialization
    new WOW().init();
</script>