<div class="row">

    <!-- side menu -->
    <ul class="nav nav-pills flex-column col-md-2 side-menu">
        <li class="nav-item">
            <a class="nav-link" href="#!project/{{projectId}}/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!project/{{projectId}}/backlog">Backlog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!project/{{projectId}}/teams">Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-font-color-link"  data-toggle="modal" data-target="#deleteProjectModal">Delete Project</a>
        </li>
    </ul>

    
<!-- Button trigger modal-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmDelete">Launch modal</button>

<!--Modal: modalConfirmDelete-->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
            <!--Content-->
            <div class="modal-content text-center">
                <!--Header-->
                <div class="modal-header d-flex justify-content-center">
                    <p class="heading">Are you sure?</p>
                </div>

                <!--Body-->
                <div class="modal-body">

                    <i class="fa fa-times fa-4x animated rotateIn"></i>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-center">
                    <a href="https://mdbootstrap.com/product/material-design-for-bootstrap-pro/" class="btn  btn-outline-danger">Yes</a>
                    <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: modalConfirmDelete-->
                        

    <!-- dash-board -->
    <div class="col-md-10">
        <div class="main-content dashboard">
            <div class="row">

                <!-- dashboard status row -->
                <div class="col-sm-3 dashboard-column-container"
                     data-ng-repeat="(issueGroupName, issueList) in dashboard.issueGroups">
                    <div class="dashboard-column panel-info">

                        <!-- status group name -->
                        <div class="issue-group-name panel-heading">
                            {{issueGroupName}}
                        </div>

                        <!-- issue list -->
                        <ul class="issue-list panel-body"
                            dnd-list="issueList"
                            dnd-inserted="rememberListName(issueGroupName)">
                            <li class="issue-item"
                                ng-repeat="issue in issueList"
                                dnd-draggable="issue"
                                dnd-moved="issueList.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-dragend="changeStatus(issue.issueId)">

                                <div class="container" data-toggle="modal"
                                     data-target="#task-modal-view{{issue.issueId}}">
                                    <div>{{issue.summary}}</div>
                                    <div style="float: left;">{{issue.priority}}</div>
                                    <div style="float: right;">{{issue.assignee}}</div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- Task view modal form -->
                                <div class="modal fade"
                                     id="task-modal-view{{issue.issueId}}"
                                     role="dialog"
                                     dnd-nodrag>
                                    <div class="modal-dialog">

                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <div class="form-group">
                                                    <label class="sr-only">Summary</label>
                                                    <textarea class="form-control modal-title"
                                                              type="text"
                                                              rows="2"
                                                              maxlength="100"
                                                              placeholder="Summary"
                                                              data-ng-model="issue.summary"></textarea>
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal">&times;
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="sr-only">Description</label>
                                                    <textarea class="form-control"
                                                              type="text"
                                                              maxlength="255"
                                                              placeholder="Description"
                                                              data-ng-model="issue.description"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Priority</label>
                                                    <select class="form-control" data-ng-model="issue.priority">
                                                        <option value="LOW">LOW</option>
                                                        <option value="MEDIUM">MEDIUM</option>
                                                        <option value="HIGH">HIGH</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Assignee</label>
                                                    <select class="form-control" data-ng-model="issue.assignee">
                                                        <option disabled hidden selected>{{issue.assignee}}</option>
                                                        <option data-ng-repeat="assignee in projectUsers" value="{{assignee.user}}">{{assignee.user}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-submit"
                                                        data-dismiss="modal"
                                                        data-ng-click="editIssue(issue)">Save
                                                </button>
                                                <button class="btn btn-cancel" data-dismiss="modal" data-ng-click="">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!-- add issue button -->
                        <div data-ng-if="issueGroupName == 'ToDo'">
                            <div class="issue-item add-card-btn btn" data-toggle="modal" data-target="#addIssue">Add
                                bug
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-1">
        <div class="btn-group-vertical btn-container-fixed">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#closeSprintModal" data-ng-click="checkForItemsNotDone()">Close current sprint</button>
        </div>
    </div>

    <!-- add bug modal -->
    <div class="modal fade" role="dialog" id="addIssue">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close"
                            type="button"
                            data-dismiss="modal">&times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="sr-only">Summary</label>
                        <textarea class="form-control"
                                  rows="3"
                                  placeholder="Summary"
                                  data-ng-model="issue.summary"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="issue-priority">Priority</label>
                        <select class="form-control" id="issue-priority" data-ng-model="issue.priority">
                            <option value="LOW" selected>LOW</option>
                            <option value="MEDIUM">MEDIUM</option>
                            <option value="HIGH">HIGH</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary waves-effect"
                        href="#"
                        type="submit"
                        data-dismiss="modal"
                        data-ng-click="addIssue(issue)">Add card
                    </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for closing sprint-->
    <div id="closeSprintModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to close current sprint?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="text">Currently not done</div>
                    <div class="container-inner" data-ng-repeat="item in dashboard.issueGroups.ToDo">
                        <div class="inner-group inner-addon right-addon items-container-grey">
                            <b>{{item.summary}}</b>
                            <i>{{item.priority}}</i>
                        </div>
                    </div>
                    <div class="container-inner" data-ng-repeat="item in dashboard.issueGroups.InProgress">
                        <div class="inner-group inner-addon right-addon items-container-grey">
                            <b>{{item.summary}}</b>
                            <i>{{item.priority}}</i>
                        </div>
                    </div>
                    <div class="container-inner" data-ng-repeat="item in dashboard.issueGroups.InQA">
                        <div class="inner-group inner-addon right-addon items-container-grey">
                            <b>{{item.summary}}</b>
                            <i>{{item.priority}}</i>
                        </div>
                    </div>
                    <div class="alert alert-danger d-none" id="alertNotDoneItemsInSprint">
                        <b>You have not done all tasks in current sprint.</b>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-toggle="collapse" data-ng-click="closeCurrentSprint()">Close sprint</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for delete project-->
    <div class="modal fade" id="deleteProjectModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h4>Are you sure you want to delete this project?</h4>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="deleteProject()">Delete</button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>
