<div class="row">

	<!-- side menu -->
	<ul class="nav nav-pills flex-column col-md-2 side-menu">
		<li class="nav-item">
			<a class="nav-link" href="#/!" data-toggle="modal" data-target="#createProjectModal">Create new project</a>
		</li>
	</ul>

	<!-- project list -->
	<div class="col-md-10">
		<div class="main-content">
			<div class="row">
				<div class="col-md-3 project-item-container" data-ng-repeat="project in projects">
					<div class="project-item">
						<a href="#!project/{{project.projectId}}/dashboard" data-ng-click="saveProjectId(project)">
							<div class="project-item-name">{{project.name}}</div>
							<div class="rounded project-item-description">{{project.description}}</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Project create modal form -->
	<div id="createProjectModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title">Create New Project</div>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="project-name">Project Name:</label>
							<input id="project-name" type="text" class="form-control" data-ng-model="newProject.name" required>
						</div>
						<div class="form-group">
							<label for="project-short-name">Project Short Name:</label>
							<input id="project-short-name" type="text" class="form-control" data-ng-model="newProject.shortName" required>
						</div>
						<div class="form-group">
							<label for="project-description">Description:</label>
							<textarea id="project-description" class="form-control" rows="5" data-ng-model="newProject.description" required></textarea>
						</div>
					</form>
				</div>
	            <div class="modal-footer">
	            	<button class="btn btn-success" type="submit" data-ng-click="createNewProject(newProject)" data-dismiss="modal">Create</button>
	                <button class="btn btn-danger" type="button"  data-dismiss="modal">Cancel</button>
	            </div>
			</div>
		</div>
	</div>
</div>