<div class="row">

    <div class="col-md-12">
        <div class="main-content">
            <div class="row">

                <!-- project team list -->
                <div class="team-list-container container-fluid">

                    <div class="col-md-3 team-container">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTeamModal">
                            Add teams <i class="fas fa-plus-circle"></i>
                        </button>
                    </div>

                    <div class="col-md-3 team-container" data-ng-repeat="team in projectTeams">

                        <ul class="list-group team-item">

                            <!-- team name and team remove button -->
                            <li class="list-group-item team-item-name">
                                <div>{{team.name}}</div>
                                <div class="btn btn-danger btn-close"
                                     title="remove team from project"
                                     data-toggle="modal"
                                     data-target="#remove-team{{team.teamId}}">&times;
                                </div>
                            </li>

                            <!-- team remove modal -->
                            <div class="modal fade"
                                 id="remove-team{{team.teamId}}"
                                 role="dialog"
                                 aria-labelledby="ConfirmTeamDeleteModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">

                                    <div class="modal-content text-center">

                                        <div class="modal-header d-flex justify-content-center">
                                            <p class="heading">Are you sure that you want to remove {{team.name}} from
                                                project?</p>
                                        </div>

                                        <!--Body-->
                                        <div class="modal-body">
                                            <i class="fa fa-times fa-4x animated rotateIn"></i>
                                        </div>

                                        <div class="modal-footer flex-center">
                                            <button type="button" data-dismiss="modal"
                                                    data-ng-click="removeTeamFromProject(team.teamId)"
                                                    class="btn  btn-outline-danger">Yes
                                            </button>
                                            <button type="button" class="btn  btn-danger waves-effect"
                                                    data-dismiss="modal">No
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- team users -->
                            <li class="list-group-item team-user-item" data-ng-repeat="teamUser in team.teamUsers">
                                <div class="teamUser-name">{{teamUser.name}} {{teamUser.surname}}</div>
                                <div class="teamUser-email">{{teamUser.email}}</div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--Add team modal-->
<div class="modal fade" id="addTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add teams</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="teamSelector">Select teams:</label>
                    <select class="form-control" id="teamSelector" name="team" ng-model="team.teamId">
                        <option value="{{team.teamId}}"  ng-repeat="team in allTeams">{{team.name}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-click="addTeamToProject(team)">Save changes</button>
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>