<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <title>Admin Page</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/adminPage.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>
<body>

<section class="head">
    <div class="container">
        <a data-toggle="modal" data-target="#myModal">
            <img src="img/logo-admin.png" class="img-responsive" alt="">
        </a>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>SmartMan</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="modal-body-links">
                    <a href="/">
                        <span>Main page</span>
                    </a>
                    <a class="nav-link sign-out" href="/logout">
                        <span>LogOut</span>
                        <span class="fas fa-sign-out-alt"></span>
                    </a>
                </div>
                <div class="modal-body-info" ng-controller="updateUserPassword">
                    <h2>Change password</h2>
                    <div class="btn-loc">
                        <button  id="passwordUpdate"  ng-click="updatePassword(password)">Change password <i class="fas fa-user"></i></button>
                    </div>
                    <input pattern=".{6,}" type="text" id="password" ng-model="password" placeholder="enter new password" required title="6 character minimum">
                </div>


            </div>
        </div>

    </div>
</div>

<section class="create">
    <div class="container">
        <div class="myform">
            <div class="create-name">
                <h2>Create new user</h2>
                <div class="btn-loc">
                    <button type="submit" id="save" class="button button-block" value="REGISTR">Create new user <i class="far fa-plus-square"></i></button>
                </div>
            </div>
            <div class=create-input>
                <div class="col">
                    <input type="text" id="username" placeholder="first name" required/>
                </div>
                <div class="col">
                    <input type="text" id="surname" placeholder="last name" required/>
                </div>
                <div class="col">
                    <input type="text" id="mail" placeholder="mail" required/>
                </div>
                <input type="hidden" id="pass" name="row_password" value="">
            </div>
        </div>
    </div>
</section>


<section class="create">
    <div class="container">
        <div class="create-name">
            <h2>Change user</h2>

        </div>
        <div ng-controller="adminUpdateUser">
            <div class="btn-loc">
                <button type="submit" id="change" class="button button-block" ng-click="updateUser(currentUser)">Change user <i class="fas fa-user"></i></button>
            </div>
            <div class="btn-loc">
                <button type="submit" id="addTeamToUser" class="button button-block" ng-click="addTeam(currentUser,team)">Add team to user <i class="far fa-plus-square"></i></button>
            </div>
            <div ng-reapeat="user in users">
                <label for="user-name">Name:</label>
                <input type="text" id="user-name" ng-model="currentUser.name">

                <label for="user-lastname">Last name:</label>
                <input type="text" id="user-lastname" ng-model="currentUser.surname">

                <label for="user-email">Email:</label>
                <input type="text" id="user-email" ng-model="currentUser.email">

                <label for="user-auth">Auth:</label>
                <input type="text" id="user-auth" ng-model="currentUser.authority">

                <label for="team-name">Team:</label>
                <select name="team" ng-model="team.teamId" id="team-name">
                    <option value="{{team.teamId}}"  ng-repeat="team in teams">{{team.name}} </option>
                </select>
            </div>
            <div class="userRepresenter">
                <ul>
                    <li ng-repeat="user in users">
                        {{user.username}} - {{user.surname}} - {{user.email}} - {{user.authority}}
                        <div class="btn-loc">
                            <button type="submit" id="choose" `class="button button-block" ng-click="changeUser(user)">Choose user <i class="fas fa-user"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="create">
    <div class="container">
        <div class="create-container">
            <h2>Create new team</h2>
            <div class="btn-loc">

    <button type="submit" id="saveTeams" class="button button-block" value="SAVETEAM"  >Create new Team<i class="far fa-plus-square"></i></button>
            </div>
</div>
        <input type="text" id="nameTeam" placeholder="name of team" required/>

    </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">

</script>
<script src="/js/adminController.js"></script>


</body>
</html>