<!DOCTYPE html>

<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SmartMan</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/new-main.css">
    <link rel="stylesheet" href="css/scrollbar.css">
</head>

<body class="dark-grey-text" data-ng-app="app" data-ng-cloak>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top py-0" data-ng-controller="mainController">
    <!-- Sidebar toggler -->
    <div class="navbar-header">
        <div id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </div>
    </div>
    <!-- Navbar brand -->
    <div>
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" style="height: 2.5rem; width: 2.5rem" alt="Logo image">
        </a>
    </div>
    <!-- Carousel -->
    <div id="projectCarousel" class="carousel slide w-25" data-interval="false">
        <!-- The slideshow -->
        <div class="carousel-inner text-center">
            <div class="carousel-item" ng-class="{active:!$index}" data-ng-repeat="project in projects">
                <div class="font-weight-bold text-lg-center align-middle">{{project.name}}</div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a id="carousel-prev" class="carousel-control-prev" data-slide="prev" data-target="#projectCarousel"
           data-ng-click="getProjectURL(0)" data-ng-mouseover="initializeProjectId()">
            <i class="fa fa-chevron-left mr-3" aria-hidden="true"></i>
        </a>
        <a id="carousel-next" class="carousel-control-next" data-slide="next" data-target="#projectCarousel"
           data-ng-click="getProjectURL(1)" data-ng-mouseover="initializeProjectId()">
            <i class="fa fa-chevron-right ml-3" aria-hidden="true"></i>
        </a>
    </div>
    <!-- ./Carousel -->
    <!-- User dropdown -->
    <div class="dropdown px-3">
        <!-- Trigger -->
        <div class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="true">
            <div class="rounded-circle teal white-text text-center p-1"
                 style="width: 2.25rem; height: 2.25rem; font-size: 1.25rem;">{{firstUserNameLetter}}
            </div>
        </div>
        <!--Menu-->
        <div class="dropdown-menu dropdown-default p-2" x-placement="bottom-start">
            <a class="dropdown-item p-1" data-toggle="modal" data-target="#user-profile-modal">My profile</a>
            <a class="dropdown-item p-1" href="/toAdminPage" data-ng-if="currentUser.authority == 'ROLE_ADMIN'">To admin page</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link sign-out dropdown-item p-1" href="/logout">
                <span>Logout</span>
                <span class="fas fa-sign-out-alt"></span>
            </a>
        </div>
    </div>
</nav>
<!-- ./Navbar -->

<main class="wrapper">

    <!-- Sidebar-->
    <nav id="sidebar" class="grey lighten-4" data-ng-controller="mainController">
        <ul class="py-3 px-0" ng-mouseover="initializeProjectId()">
            <li class="active waves-effect">
                <a ng-href="#!project/{{projectId}}/dashboard">
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <span><strong>Board</strong></span>
                </a>
            </li>
            <li class="waves-effect" data-ng-if="!projectIsCustomizable">
                <a ng-href="#!project/{{projectId}}/backlog">
                    <i class="fa fa-th-list" aria-hidden="true"></i>
                    <span><strong>Backlog</strong></span>
                </a>
            </li>
            <li class="waves-effect">
                <a ng-href="#!project/{{projectId}}/teams">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span><strong>Teams</strong></span>
                </a>
            </li>
            <hr class="my-2">
            <li class="waves-effect" data-toggle="" data-placement="">
                <!-- Project create modal trigger -->
                <a data-toggle="modal" data-target="#project-create-modal">
                    <i class="fas fa-plus-circle hide-side-menu-item"></i>
                    <span class=""><strong>Create project</strong></span>
                </a>
                <!-- ./Project create modal trigger -->
            </li>
            <li class="waves-effect" data-toggle="" data-placement="">
                <!-- Project close modal trigger -->
                <a data-toggle="modal" class="delete-item" data-target="#project-delete-modal">
                    <i class="fas fa-trash-alt hide-side-menu-item"></i>
                    <span class=""><strong>Close project</strong></span>
                </a>
                <!-- ./Project close modal trigger-->
            </li>
        </ul>

    </nav>
    <!-- ./Sidebar -->

    <!-- Page Content -->
    <div class="content grey lighten-5 container-fluid px-sm-4 py-sm-3">
        <div data-ng-view></div>
    </div>

</main>

<!--  Modal for closing project -->
<div class="modal fade" id="project-delete-modal" tabindex="-1" role="dialog"
     aria-labelledby="ConfirmProjectDeleteModalLabel"
     aria-hidden="true" data-ng-controller="mainController">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>

            <!--Body-->
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <button type="button" data-dismiss="modal" data-ng-click="deleteProject()"
                        class="btn  btn-outline-danger">Yes
                </button>
                <button type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!-- Project create modal -->
<div class="modal fade left" id="project-create-modal" role="dialog" data-ng-controller="mainController">
    <div class="modal-dialog modal-full-height modal-left modal-success">
        <div class="modal-content">
            <form>
                <div class="modal-header success-color white-text">
                    <p class="h4 text-center mb-4">Create new project</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="white-text" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="md-form">
                        <input type="text"
                               id="project-name"
                               class="form-control"
                               maxlength="100"
                               data-ng-model="project.name">
                        <label for="project-name">Project name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-pencil prefix"></i>
                        <textarea type="text"
                                  id="project-description"
                                  class="form-control md-textarea mx-0 w-100"
                                  rows="2"
                                  maxlength="500"
                                  data-ng-model="project.description"
                                  style="min-height: 1rem; max-height: 1rem;"></textarea>
                        <label for="project-description" class="m-0">Project description</label>
                    </div>
                    <!-- Switch -->
                    <div class="md-form">
                        <div class="switch">
                            <label>
                                SCRUM
                                <input type="checkbox" data-ng-model="project.projectType">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="submit" class="btn success-color-dark" data-ng-click="createNewProject(project)"
                        data-dismiss="modal">Create
                </button>
            </div>
        </div>
    </div>
</div>
<!-- ./Project create modal -->


<!-- User my profile modal-->
<div class="modal fade right user-modal" id="user-profile-modal" role="dialog" data-ng-controller="userModalController">
    <div class="modal-dialog modal-full-height modal-right modal-success user-modal">
        <div class="modal-content">
            <div class="modal-header success-color white-text">
                <p class="h4 text-center mb-4">My profile</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="white-text" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Card-->
                <div class="card testimonial-card">

                    <!--Background color-->
                    <div class="card-up green darken-1 lighten-1">
                    </div>

                    <!--Avatar-->
                    <div class="avatar mx-auto white"><img
                            src="https://previews.123rf.com/images/gmast3r/gmast3r1511/gmast3r151100776/48187912-profile-icon-male-avatar-man-hipster-style-fashion-cartoon-guy-beard-glasses-portrait-casual-person-.jpg"
                            class="rounded-circle">
                    </div>

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>{{userNameDisplay}}</strong></h4>

                        <button class="accordion text-center">My projects <i class="fas fa-caret-down"></i></button>
                        <div class="panel list-group">
                            <div data-ng-repeat="project in projects">
                                <button class="accordion list-group-item"
                                        data-ng-click="getUserIssues(project.projectId)">
                                    {{project.name}}
                                </button>
                                <div class="panel list-group-item">
                                    <div class="card-text" data-ng-repeat="userIssues in projectIssues">
                                        {{userIssues.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card Wider-->
                <!--Card-->
                <div class="card" style="margin-top: 2rem">
                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Change password:</h4>
                        <form>
                            <div class="md-form input-group pl-0">
                                <input type="password" class="form-control py-0" placeholder="New password"
                                       aria-describedby="new-password" data-ng-model="changePassword.new">
                            </div>
                            <div class="md-form input-group pl-0">
                                <input type="password" class="form-control py-0" placeholder="Repeat new password"
                                       aria-describedby="new-password-repeat" data-ng-model="changePassword.newRepeat">
                            </div>
                        </form>
                        <a href="#" class="btn btn-success"
                           data-ng-click="updateUserPassword(changePassword)">Change</a>
                    </div>

                </div>
                <!--/.Card-->
            </div>
        </div>
    </div>
</div>
<!-- ./User my profile modal-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Prefix-free for CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-cookies.min.js"></script>

<!-- Custom scripts -->
<script src="js/angular-drag-and-drop-lists.js"></script>
<script src="js/app.js"></script>
<script src="js/service/projectService.js"></script>
<script src="js/service/issueService.js"></script>
<script src="js/service/backlogService.js"></script>
<script src="js/service/userService.js"></script>
<script src="js/service/teamService.js"></script>

<script>

    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#projectCarousel .active').index('#projectCarousel.item');
        });
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    });

</script>

</body>
</html>