:root {
    --main-color: #fff;
    --blue-color: #39C2D7;
    --gray-color: #f5f5f5;
    --light-black-color: #333333;
    --black-color: #000;
}
* {
    padding:0;
    margin:0;
}
html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
}
body {
    background: var(--main-color);
    padding:0;
    color: var(--main-color);
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
a,
a:active,
a:focus,
a:hover
{
    color: var(--light-black-color);
    text-decoration: none;
    outline: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
}
input, select{
    color: var(--black-color);
    width: 100%;
    text-transform: none;
    border: none;
    padding: 10px 11px 10px;
    border: 1px solid #e9e9e9;
    outline: 0;
}

select{
    color: var(--black-color);
}
select option{
    color: var(--black-color);
}
button{
    color: var(--main-color);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--light-black-color);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--light-black-color);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--light-black-color);
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--light-black-color);
}

.head{
   position: relative;
    text-align: center;
    padding: 30px 0;
    background-color: var(--blue-color);
}
.head img{
    margin: 0 auto;
    height: 95px;
    object-fit: contain;
}

.create{
    position: relative;
    padding: 50px 0;
    background-color: var(--gray-color);
}
.create .create-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.create .create-name h2{
    color: var(--light-black-color);
}
.create .create-name .btn-loc{
    background: var(--blue-color);
    padding: 11px 38px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    transition: color .4s;
}
.create .create-name .btn-loc:hover{
    color: var(--main-color);
}
.create .create-name .btn-loc::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    background-size: contain;
    width: 19px;
    height: 19px;
}
.create .create-name .btn-loc::after {
    content: " ";
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    top: 77px;
    left: 59%;
    z-index: -2;
    background: var(--light-black-color);
    transform-origin: top left;
    -ms-transform: skew(-18deg, 0deg);
    -webkit-transform: skew(-18deg, 0deg);
    transform: rotate(180deg) skew(-18deg, 0deg);
    transition: left .4s;
}
.create .create-name .btn-loc:hover::after{
    left: 500px;
}
.create .create-name .btn-loc button{
    width: 100%;
    text-transform: uppercase;
    border: none;
    -webkit-appearance: none;
    padding: 0;
    outline: 0;
    margin-bottom: 0;
    background-color: transparent;
}
.create .create-name .btn-loc button svg{
    margin-left: 23px;
}
.create .create-input{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -15px;
}
.create .create-input .col{
    flex: 1 0 27%;
    margin: 0 15px;
}
.crete .ng-scope{
    padding-top: 30px;
}
.create label{
    color: var(--light-black-color);
}
.create .userRepresenter ul{
    padding-top: 30px;
}
.create .userRepresenter ul li{
    color: var(--light-black-color);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}
.create .userRepresenter ul li:hover{
    opacity:.6;
}
.create .btn-loc{
    background: var(--blue-color);
    padding: 11px 38px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    transition: color .4s;
}
.create .btn-loc:hover{
    color: var(--main-color);
}
.create .btn-loc::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    background-size: contain;
    width: 19px;
    height: 19px;
}
.create .btn-loc::after {
    content: " ";
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    top: 77px;
    left: 59%;
    z-index: -2;
    background: var(--light-black-color);
    transform-origin: top left;
    -ms-transform: skew(-18deg, 0deg);
    -webkit-transform: skew(-18deg, 0deg);
    transform: rotate(180deg) skew(-18deg, 0deg);
    transition: left .4s;
}
.create .btn-loc:hover::after{
    left: 500px;
}
.create .btn-loc button{
    width: 100%;
    text-transform: uppercase;
    border: none;
    -webkit-appearance: none;
    padding: 0;
    outline: 0;
    margin-bottom: 0;
    background-color: transparent;
}
.create .btn-loc button svg{
    margin-left: 23px;
}


.modal-body .modal-body-links{
    display: flex;
    justify-content: space-between;
}
.modal-header .close {
    margin-top: -20px !important;
}
.modal-header h4{
    color: var(--black-color);
    text-align: center;
}
.modal-body .modal-body-info{
    padding: 30px 0;
    text-align: center;
}
.modal-body .modal-body-info h2{
    color: var(--black-color);
}
.modal-body .modal-body-info .btn-loc{
    background: var(--blue-color);
    padding: 11px 38px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    transition: color .4s;
}
.modal-body .modal-body-info .btn-loc:hover{
    color: var(--main-color);
}
.modal-body .modal-body-info .btn-loc::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    background-size: contain;
    width: 19px;
    height: 19px;
}
.modal-body .modal-body-info .btn-loc::after {
    content: " ";
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    top: 77px;
    left: 59%;
    z-index: -2;
    background: var(--light-black-color);
    transform-origin: top left;
    -ms-transform: skew(-18deg, 0deg);
    -webkit-transform: skew(-18deg, 0deg);
    transform: rotate(180deg) skew(-18deg, 0deg);
    transition: left .4s;
}
.modal-body .modal-body-info .btn-loc:hover::after{
    left: 500px;
}
.modal-body .modal-body-info .btn-loc button{
    width: 100%;
    text-transform: uppercase;
    border: none;
    -webkit-appearance: none;
    padding: 0;
    outline: 0;
    margin-bottom: 0;
    background-color: transparent;
}


@media(max-width:767px){
    create .create-name {

        flex-direction: column;

    }
    .create .create-input .col {
        flex: 1 0 43%;
        margin: 8px 15px;
    }
    .create .userRepresenter ul li {

        flex-direction: column;
        align-items: flex-start;
    }
}