.card-list {
    margin-top: .5rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 154.1px);
}
.card-list .card:first-child {
    margin-top: 0;
}
.card.card-cascade.narrower {
    margin-top: 20px;
}
.card.card-cascade .view.gradient-card-header {
    min-height: 1.5rem;
    padding: .75rem;
    margin: -20px .25rem 0 .25rem;
}
.blue-gradient {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
.aqua-gradient {
    background:-webkit-linear-gradient(135deg,#2096ff,#05ffa3)!important;
    background:linear-gradient(135deg,#2096ff,#05ffa3)!important;
}
/* dnd styles */
/**
* The dndDraggingSource class will be applied to
* the source element of a drag operation. It makes
* sense to hide it to give the user the feeling
* that he's actually moving it.
*/
.card-list[dnd-list] .dndDraggingSource {
    opacity: .7;
    display: block;
    min-height: 3rem;
    border-radius: .2rem;
}
/**
* An element with .dndPlaceholder class will be
* added to the dnd-list while the user is dragging
* over it.
*/
body {
    overflow-x: hidden;
}
.row {
    
}
.card-list[dnd-list] .dndPlaceholder {
    opacity: .7;
    display: block;
    min-height: 2rem;
    border-radius: .25rem;
}
.gradient-card-header {
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    height: 3rem;
    cursor: pointer;
}
.card-cascade .gradient-card-header,
.card-cascade .card-list .card {
    cursor: pointer;
}
.card-list .card:hover {
    background-color: #eee;
    transition: 0s;
}