.login-form {
	opacity: .95;
}
.md-form input:-webkit-autofill {
	-webkit-box-shadow: red white inset;
}
.md-form input,
.md-form input:-webkit-autofill:hover,
.md-form input:-webkit-autofill:focus {
	-webkit-text-fill-color: #495057 !important;
}
.md-form .prefix {
	font-size: 1.5rem;
}
.md-form .fa-lock {
	font-size: 2.25rem;
}
h6 {
	line-height: 1.7;
}
@media (max-width: 740px) {
	.full-height,
	.full-height body,
	.full-height header,
	.full-height header .view {
		height: 1100px;
	}
}
.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #80cbc4;
	border-bottom: 1px solid #80cbc4;
}
.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=password]:focus:not([readonly]) + label {
	color: #80cbc4;
}
.login-form .md-form input:-webkit-autofill,
.login-form .md-form input:-webkit-autofill:hover,
.login-form .md-form input:-webkit-autofill:focus,
.login-form .md-form input:-webkit-autofill:active {
	-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
	-webkit-transition-delay: 9999s;
}