@font-face {
    font-family: Oswald;
    src: url(../fonts/oswald/Oswald-Regular.ttf);
}
/* main page project list */
.project-item-container {
    padding: 0 .25rem;
	display: table-cell;
	vertical-align: top;
}
.project-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .25rem;
    text-align: center;
    color: #4A494B;
    background-color: #34C1D1;
    border-radius: .5rem 1rem .5rem .35rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.project-item a:link, .project-item a:visited, .project-item a:hover {
    color: #464547;
}
.project-item:hover {
    background-color: #2CB5CA;
    opacity: 92.5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.project-item-name {
    padding-bottom: .5rem;
    padding-top: .25rem;
    font-size: 18px;
}
.project-item-description {
    padding: .25rem;
    background-color: #f5f5f5;
}

/* main page project creation modal */
#createProjectModal {
    color: #4A494B;
}
.form-control {
	border-radius: .2rem;
}
.form-control:focus {
    box-shadow: none;
}

.modal-header, .modal-footer {
    border: none;
}
.form-control::placeholder {
	color: #999;
}
.modal-content {
	background-color: #f5f5f5;
}
.modal-header {
	padding-bottom: 0;
}
.modal-footer {
	padding-top: 0;
}
.modal-header, .modal-footer {
	width: 100%;
	border: none;
}
.modal input, .modal textarea, .modal select {
	height: 34px;
	padding: 7px 10px;
	font-size: 16px;
	color: #999;
	outline: none;
	border: none;
}
.modal-header .modal-title {
	color: black;
	background-color: #f5f5f5;
}
.modal-header .modal-title:focus {
	background-color: #fff;
}
.modal textarea {
	min-height: 5.4rem;
	resize: none;
	overflow: auto;
}
.modal-header .form-group {
	color: black;
	width: 100%;
}
.modal textarea, .modal select {
	background-color: #e5e5e5;
}
.close {
	font-size: 2rem;
}
.btn-submit, .btn-cancel {
	width: 15%;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
	color: #fff;
	outline: none;
}
.btn-submit {
	background-color: #a3c644;
}
.btn-submit:hover {
	background-color: #7f993a;
}
.btn-cancel {
	background-color: #b22746;
}
.btn-cancel:hover {
	background-color: #8e244d;
}

/* dashBoard */
.dashboard-column-container {
    display: table-cell;
    vertical-align: top;
    padding: 0 .25rem;
}
.dashboard-column {
    max-height: calc(100vh - 7rem);
	padding: .25rem;
	background-color: #34C1D1;
	border-radius: .4rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.dashboard .issue-group-name {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
.issue-list {
    margin: 0;
}
.dashboard .issue-item {
	display: block;
	margin-top: .2rem;
	padding: .25rem;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border-radius: .2rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dashboard .issue-item:hover {
    background-color: #eee;
    cursor: pointer;
}
.dashboard-column .add-card-btn {
    color: #fff;
    background-color: #A3C644;
    text-align: center;
}
.dashboard-column .add-card-btn:hover {
    background-color: #7F993A;
}

.dashboard ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}
.dashboard .ditch {
    position: relative;
}

/* backlog*/
.backlogItem {
    float: left;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

/* team */

.btn-container-fixed{
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 5;
}

.items-container-grey{
    background-color: #e4e4e4;
    border-radius: 4px;
    margin: 2%;
    padding-right: 2%;
}

/* team page */
.main-content .team-item {
    margin-bottom: 1rem;
}
.team-item-name {
    position: relative;
    text-align: center;
}
.team-container {
    float: left;
}
.btn-close {
    position: absolute;
    top: 10%;
    right: 0;
    padding: .1rem;
    margin-right: -.1rem;
    color: #fff;
    font-size: 2rem;
    line-height: .75rem;
    transform: translate(-25%, -10%);
}
.btn-danger {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}
.btn-danger:hover {color:#fff;
    background-color:#c82333;
    border-color:#bd2130;
}
.btn-danger.focus,
.btn-danger:focus {
    box-shadow:0 0 0 .2rem rgba(220,53,69,.5);
}