body {
    font-family: Roboto, Arial, sans-serif;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: hidden;
}
a, button:focus {
    outline: none;
}
li {
    list-style-type: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.md-form input:-webkit-autofill,
.md-form input:-webkit-autofill:hover,
.md-form input:-webkit-autofill:focus,
.md-form input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-header {
    padding: 0 .5rem 0 .7rem;
    opacity: .5;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar .dropdown-toggle {
    cursor: pointer;
}
.navbar-brand {
    margin-left: 1rem;
}
.navbar .carousel {
    margin: auto;
}
.navbar .dropdown-menu {
    top: 35px;
    left: auto;
    right: 10px;
    will-change: transform;
}
.navbar .dropdown-toggle.waves-effect.waves-light::after {
    display: none;
}
.dropdown .dropdown-menu.dropdown-default .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-default .dropdown-item:hover {
    padding: .25rem;
    color: #fff !important;
    background-color:#2bbbad!important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar ul {
    color: #00695c;
}
#sidebar {
    min-width: 240px;
    max-width: 240px;
    background: #7386D5;
    color: #616161;
    transition: all 0.3s;
    overflow: auto;
    height: calc(100vh - 52px);
}
#sidebar a:focus {
    background-color: #e0e0e0 !important;
    color: #424242  !important;
}
#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}
#sidebar a:hover,
#sidebar a:focus {
    color: #1c2a48;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
}
#sidebar.active ul li a {
    padding: 12.5px 10px;
    text-align: center;
    color: #004d40;
}
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8rem;
    margin-bottom: 5px;
}
#sidebar.active ul li span {
    font-size: 0.8rem;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active .hide-side-menu-item {
    display: none;
}
#sidebar .hide-side-menu-item {
    display: inline-block;
}
#sidebar ul li a {
    padding: 10px 1.9rem;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a span {
    font-size: 1rem;
    transition: .3s;
}
#sidebar ul li a i {
    margin-right: 1.45rem;
    transition: .3s;
}
#sidebar ul li a .fa-users {
    margin-right: 1.25rem;
}
#sidebar ul li a:hover {
    color: #009688;
    background: #fff;
    transition: 0s;
}
#sidebar.active ul li a:hover {
    color: #00897b;
}
#sidebar ul li .delete-item  a:hover{
    color: #CC0000;
    background: #fff;
    transition: 0s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar ul li a {
        padding: 10px;
    }
    #sidebar .hide-side-menu-item{
        display: none;
    }
    #sidebar ul li a span {
        font-size: 0.8rem;
    }
    #sidebar.active ul li a span {
        font-size: .8rem !important;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar a:focus {
        background-color: #e0e0e0 !important;
        color: #424242 !important;
    }
}

.modal textarea {
    min-height: 1rem;
    height: 3rem;
}

/* ---------------------------------------------------
    SWITCH
----------------------------------------------------- */
.switch label {
    cursor:pointer;
}
.switch label input[type=checkbox] {
    opacity:0;
    width:0;
    height:0;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color:#00C851;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color:#007E33;
    left:24px;
}
.switch label input[type=checkbox]:checked:not(:disabled)~.lever:active:after {
    box-shadow:0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(170,102,204,.1);
}
.switch label input[type=checkbox]:not(:disabled)~.lever:active:after {
    box-shadow:0 1px 3px 1px rgba(0,0,0,.4), 0 0 0 15px rgba(0,0,0,.08);
}
.switch label input[type=checkbox]:disabled+.lever {
    cursor:default;
}
.switch label input[type=checkbox]:disabled+.lever:after,
.switch label input[type=checkbox]:disabled:checked+.lever:after{
    background-color:#bdbdbd;
}
.switch label .lever {
    content:"";
    display:inline-block;
    position:relative;
    width:40px;
    height:15px;
    background-color:#818181;
    border-radius:15px;
    margin-right:10px;
    -webkit-transition:background .3s ease;
    transition:background .3s ease;
    vertical-align:middle;
    margin:0 16px;
}
.switch label .lever:after{
    content:"";
    position:absolute;
    display:inline-block;
    width:21px;
    height:21px;
    background-color:#f1f1f1;
    border-radius:21px;
    box-shadow:0 1px 3px 1px rgba(0,0,0,.4);
    left:-5px;
    top:-3px;
    -webkit-transition:left .3s ease,background .3s ease,box-shadow .1s ease;
    transition:left .3s ease,background .3s ease,box-shadow .1s ease;
}
/* ---------------------------------------------------
    GRADIENT
----------------------------------------------------- */
.blue-gradient {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
.aqua-gradient {
    background:-webkit-linear-gradient(135deg,#2096ff,#05ffa3)!important;
    background:linear-gradient(145deg,#2096ff,#05ffa3)!important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 0.25rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0.1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #e0e0e0;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.testimonial-card .card-up {
    overflow:hidden;
    height:120px;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem;
}
.testimonial-card .avatar {
    border-radius:50%;
    width:120px;
    margin-top:-65px;
    overflow:hidden;
    border:5px solid #fff;
}
.testimonial-card .avatar img {
    width:100%;
}
.testimonial-card .card-body {
    text-align:center;
}

.user-modal {
    height:auto;
}
@media (min-width: 992px) {
    .user-modal {
        height: auto !important;
    }
}

/*SNACKBAR*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.card.card-cascade.narrower {
    margin-top:20px;
}
.card.card-cascade.narrower .view {
    margin-left:4%;
    margin-right:4%;
    margin-top:-20px;
}