.scrollbar {
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD;
}
.scrollbar-near-moon::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
	background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
	background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
	background-image: -o-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.scrollbar-default::-webkit-scrollbar,
.scrollbar-near-moon::-webkit-scrollbar,
.scrollbar-morpheus-den::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
.scrollbar-default::-webkit-scrollbar-track,
.scrollbar-near-moon::-webkit-scrollbar-track,
.scrollbar-morpheus-den::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
.thin::-webkit-scrollbar {
	width: 6px;
}